<footer class="bg-black ph3 pv4 white">

	<img src="/img/logo.png" alt="CONTRUST Logo" style="height: 40px; margin-bottom: 15px;">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

</footer>
